<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_success">
        <observer name="order_affiliate" instance="Mageplaza\Affiliate\Observer\AffiliateOrder" />
    </event>
    <event name="controller_action_predispatch_checkout_cart_couponPost">
        <observer name="apply_code" instance="Mageplaza\Affiliate\Observer\CheckCode" />
    </event>
</config>
